.gifts-gallery {
  max-inline-size: 1440px;
  margin-inline: auto;
  padding-block: 60px;

  border-radius: 20px;

  background-color: var(--color-primary);
  background-image: url('../assets/img/general/bg-garland.png');
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;

  &__header {
    color: var(--color-static-white);
    text-align: center;

    @include header-1;

    @include mobile() {
      padding-inline: 8px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }

  &__cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;

    @include tablet() {
      grid-template-columns: repeat(2, 1fr);
    }

    @include mobile() {
      grid-template-columns: repeat(1, 1fr);
      align-items: center;
    }
  }
}

.section-title {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;

  color: var(--color-static-white);

  &__start {
    @include caption;
  }

  &__end {
    @include header-2;
  }
}

.tabs {
  display: flex;
  flex-direction: row;
  gap: 8px;

  padding-inline: 8px;

  @include mobile() {
    gap: 0;
  }

  &__tab {
    padding-block: 12px;
    padding-inline: 20px;

    color: var(--color-static-white);

    border: none;
    border-radius: 12px;

    background-color: transparent;

    cursor: pointer;

    @include mobile() {
      padding-inline: 8px;
    }

    @include action-small;

    @include hover() {
      &_active,
      &:hover {
        background-color: var(--color-static-white-40);
      }
    }

    &_active {
      cursor: initial;
    }
  }
}
