.header {
  &__content {
    display: flex;
    gap: 12px;
    justify-content: space-between;

    padding-block: 12px;

    @include action-small;

    @include tablet() {
      padding-inline: 8px;
    }
  }
}

.logo {
  display: flex;
  gap: 8px;
  align-items: center;

  padding-block: 8px;
  padding-inline: 20px;

  @include hover() {
    &:hover {
      cursor: pointer;
    }
  }

  &__text {
    color: var(--color-dark);

    @include action-small;
  }
}

.burger {
  display: flex;
  flex-direction: column;
  gap: 7px;
  justify-content: center;
  align-items: center;

  inline-size: 40px;
  block-size: 40px;

  &__line {
    inline-size: 20px;
    block-size: 1px;

    border-radius: 1px;

    background-color: var(--color-dark);

    transform-origin: center;

    transition: transform 0.2s ease-in-out;
  }

  &.active {
    .burger__line {
      transform: translateY(4px) rotate(45deg);
    }

    .burger__line:nth-child(2) {
      transform: translateY(-4px) rotate(-45deg);
    }
  }
}

.nav {
  &__burger {
    display: none;

    @include mobile() {
      display: block;
    }
  }

  &__list {
    display: flex;
    gap: 8px;
    align-items: center;

    @include mobile() {
      position: absolute;
      inset: 0;
      inset-block-start: 64px;

      display: flex;
      flex-direction: column;
      gap: 8px;
      justify-content: center;
      align-items: center;

      inline-size: 100%;

      background-color: var(--color-static-white);

      opacity: 0;

      pointer-events: none;

      transition: opacity 0.2s ease-in-out;

      @include action-large;
    }

    &.active {
      opacity: 1;

      pointer-events: all;
    }
  }

  &__item {
    padding-block: 12px;
    padding-inline: 20px;

    color: var(--color-dark);

    border-radius: 12px;

    transition-property: color, background-color;
    transition-timing-function: linear;
    transition-duration: 0.3s;

    @include hover() {
      &:hover,
      &.active {
        color: var(--color-primary);

        background-color: var(--color-primary-10);
      }
    }

    &.active {
      .nav__link {
        cursor: default;
      }
    }
  }

  &__link {
    color: inherit;
  }
}
