<section class="about">
    <div class="content-wrapper">
        <div class="section-card">
            <div class="section-card__content">
                <h2 class="section-card__title">About</h2>
                <p class="section-card__header">Unleash your inner superhero!</p>
                <p class="section-card__text">
                    This New Year marks the beginning of your journey to inner harmony and
                    new strengths. We offer unique gifts that will
                    help you improve your life.
                </p>
            </div>
            <img class="section-card__image" src="../assets/img/general/santa.png" alt="santa">
        </div>
    </div>
</section>
