<dialog class="gift-info">
    <div class="gift-info__card ">
        <button class="gift-info__close" type="button" aria-label="close modal"></button>
        <img class="gift-info__image" src="../../static/img/gifts/gift-for-harmony.png" alt="ball with snowman">
        <div class="gift-info__content">
            <div class="gift-info__section">
                <span class="gift-card__category">category</span>
                <h3 class="gift-card__title">title</h3>
                <p class="gift-info__description">description</p>
            </div>
            <div class="gift-info__section">
                <span class="gift-info__stats-header">Adds superpowers to:</span>
                <div class="gift-info__stat">
                    <span class="gift-info__stat-name">Live</span>
                    <span class="gift-info__stat-value">+500</span>
                    <div class="gift-info__stat-indicators"></div>
                </div>
                <div class="gift-info__stat">
                    <span class="gift-info__stat-name">Create</span>
                    <span class="gift-info__stat-value">+500</span>
                    <div class="gift-info__stat-indicators"> </div>
                </div>
                <div class="gift-info__stat">
                    <span class="gift-info__stat-name">Love</span>
                    <span class="gift-info__stat-value">+500</span>
                    <div class="gift-info__stat-indicators"></div>
                </div>
                <div class="gift-info__stat">
                    <span class="gift-info__stat-name">Dream</span>
                    <span class="gift-info__stat-value">+500</span>
                    <div class="gift-info__stat-indicators"></div>
                </div>
            </div>
        </div>
    </div>
</dialog>
