<section class="gifts-gallery">
    <div class="content-wrapper">
        <div class="gifts-gallery__content">
            <h2 class="gifts-gallery__header">
                Achieve health,<br>harmony, and<br>inner strength
            </h2>
            <div class="tabs gifts-gallery__tabs">
                <button class="tabs__tab tabs__tab_active" type="button" data-category="all">all</button>
                <button class="tabs__tab" type="button" data-category="work">for work</button>
                <button class="tabs__tab" type="button" data-category="health">for health</button>
                <button class="tabs__tab" type="button" data-category="harmony">for harmony</button>
            </div>
            <div class="gifts-gallery__cards"></div>
        </div>
    </div>
    <a href="#header" class="go-to-start hidden" aria-label="go to of start page"></a>
</section>
