<section class="gifts-gallery">
    <div class="content-wrapper">
        <div class="gifts-gallery__content">
            <h2 class="gifts-gallery__header">
                Achieve health,<br>harmony, and<br>inner strength
            </h2>
            <div class="tabs gifts-gallery__tabs">
                <button class="tabs__tab tabs__tab_active" type="button">all</button>
                <button class="tabs__tab" type="button">for work</button>
                <button class="tabs__tab" type="button">for health</button>
                <button class="tabs__tab" type="button">for harmony</button>
            </div>
            <div class="gifts-gallery__cards">
                <div class="gift-card">
                    <img class="gift-card__image" src="../assets/img/gifts/gift-for-work.png" alt="ball with gift box">
                    <div class="gift-card__content">
                        <span class="gift-card__category gift-card__category_work">for work</span>
                        <h3 class="gift-card__title">Console.log Guru</h3>
                    </div>
                </div>
                <div class="gift-card">
                    <img class="gift-card__image" src="../assets/img/gifts/gift-for-health.png" alt="ball with snowman">
                    <div class="gift-card__content">
                        <span class="gift-card__category gift-card__category_health">for health</span>
                        <h3 class="gift-card__title">step master</h3>
                    </div>
                </div>
                <div class="gift-card">
                    <img class="gift-card__image" src="../assets/img/gifts/gift-for-work.png" alt="ball with gift box">
                    <div class="gift-card__content">
                        <span class="gift-card__category gift-card__category_work">for work</span>
                        <h3 class="gift-card__title">bug magnet</h3>
                    </div>
                </div>
                <div class="gift-card">
                    <img class="gift-card__image" src="../assets/img/gifts/gift-for-work.png" alt="ball with gift box">
                    <div class="gift-card__content">
                        <span class="gift-card__category gift-card__category_work">for work</span>
                        <h3 class="gift-card__title">Shortcut Cheater</h3>
                    </div>
                </div>


                <div class="gift-card">
                    <img class="gift-card__image" src="../assets/img/gifts/gift-for-health.png" alt="ball with snowman">
                    <div class="gift-card__content">
                        <span class="gift-card__category gift-card__category_health">for health</span>
                        <h3 class="gift-card__title">Posture Levitation</h3>
                    </div>
                </div>
                <div class="gift-card">
                    <img class="gift-card__image" src="../assets/img/gifts/gift-for-harmony.png"
                        alt="ball with christmas tree">
                    <div class="gift-card__content">
                        <span class="gift-card__category gift-card__category_harmony">For harmony</span>
                        <h3 class="gift-card__title">Bug Acceptance Guru</h3>
                    </div>
                </div>
                <div class="gift-card">
                    <img class="gift-card__image" src="../assets/img/gifts/gift-for-health.png" alt="ball with snowman">
                    <div class="gift-card__content">
                        <span class="gift-card__category gift-card__category_health">for health</span>
                        <h3 class="gift-card__title">Snack Resister</h3>
                    </div>
                </div>
                <div class="gift-card">
                    <img class="gift-card__image" src="../assets/img/gifts/gift-for-harmony.png"
                        alt="ball with christmas tree">
                    <div class="gift-card__content">
                        <span class="gift-card__category gift-card__category_harmony">For harmony</span>
                        <h3 class="gift-card__title">Error Laugher</h3>
                    </div>
                </div>


                <div class="gift-card">
                    <img class="gift-card__image" src="../assets/img/gifts/gift-for-health.png" alt="ball with snowman">
                    <div class="gift-card__content">
                        <span class="gift-card__category gift-card__category_health">for health</span>
                        <h3 class="gift-card__title">Hydration Bot</h3>
                    </div>
                </div>
                <div class="gift-card">
                    <img class="gift-card__image" src="../assets/img/gifts/gift-for-work.png" alt="ball with gift box">
                    <div class="gift-card__content">
                        <span class="gift-card__category gift-card__category_work">for work</span>
                        <h3 class="gift-card__title">Merge Master</h3>
                    </div>
                </div>
                <div class="gift-card">
                    <img class="gift-card__image" src="../assets/img/gifts/gift-for-harmony.png"
                        alt="ball with christmas tree">
                    <div class="gift-card__content">
                        <span class="gift-card__category gift-card__category_harmony">For harmony</span>
                        <h3 class="gift-card__title">Joy Charger</h3>
                    </div>
                </div>
                <div class="gift-card">
                    <img class="gift-card__image" src="../assets/img/gifts/gift-for-harmony.png"
                        alt="ball with christmas tree">
                    <div class="gift-card__content">
                        <span class="gift-card__category gift-card__category_harmony">For harmony</span>
                        <h3 class="gift-card__title">Spontaneous Coding Philosopher</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
