<section class="gifts">
    <div class="content-wrapper">
        <div class="gifts__content">
            <h2 class="section-title">
                <span class="section-title__start">Best Gifts</span>
                <span class="section-title__end">especially for you</span>
            </h2>
            <div class="gifts__cards">
                <div class="gift-card">
                    <img class="gift-card__image" src="../assets/img/gifts/gift-for-work.png" alt="ball with gift box">
                    <div class="gift-card__content">
                        <span class="gift-card__category gift-card__category_work">for work</span>
                        <h3 class="gift-card__title">Console.log Guru</h3>
                    </div>
                </div>
                <div class="gift-card">
                    <img class="gift-card__image" src="../assets/img/gifts/gift-for-health.png" alt="ball with snowman">
                    <div class="gift-card__content">
                        <span class="gift-card__category gift-card__category_health">for health</span>
                        <h3 class="gift-card__title">Hydration Bot</h3>
                    </div>
                </div>
                <div class="gift-card">
                    <img class="gift-card__image" src="../assets/img/gifts/gift-for-work.png" alt="ball with gift box">
                    <div class="gift-card__content">
                        <span class="gift-card__category gift-card__category_work">for work</span>
                        <h3 class="gift-card__title">Merge Master</h3>
                    </div>
                </div>
                <div class="gift-card">
                    <img class="gift-card__image" src="../assets/img/gifts/gift-for-harmony.png"
                        alt="ball with christmas tree">
                    <div class="gift-card__content">
                        <span class="gift-card__category gift-card__category_harmony">For harmony</span>
                        <h3 class="gift-card__title">Spontaneous Coding Philosopher</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
