<section class="slider">
    <div class="content-wrapper">
        <div class="slider__content">
            <h2 class="section-title">
                <span class="section-title__start">Become Happier!</span>
                <span class="section-title__end">in the new 2025</span>
            </h2>
            <div class="slider__container">
                <span class="slider__text">love</span>
                <img class="slider__image" src="../assets/img/slider/snowman.png" alt="snowman">
                <span class="slider__text">create</span>
                <img class="slider__image" src="../assets/img/slider/christmas-trees.png" alt="christmas trees">
                <span class="slider__text">love</span>
                <img class="slider__image" src="../assets/img/slider/christmas-tree-ball.png" alt="christmas tree ball">
                <span class="slider__text">dream</span>
                <img class="slider__image" src="../assets/img/slider/fairytale-house.png" alt="fairytale house">
            </div>
            <div class="slider__controls">
                <button disabled class="slider__button slider__button_prev" type="button" aria-label="go to prev slide">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M6 12H18.5M18.5 12L12.5 6M18.5 12L12.5 18" stroke-linecap="round"
                            stroke-linejoin="round" />
                    </svg>
                </button>
                <button class="slider__button slider__button_next" type="button" aria-label="go to next slide">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M6 12H18.5M18.5 12L12.5 6M18.5 12L12.5 18" stroke-linecap="round"
                            stroke-linejoin="round" />
                    </svg>
                </button>
            </div>
        </div>
    </div>
</section>
